
    h1 {
        color: lightskyblue;
        text-align: center;
    }
    * {margin: 0; padding: 0; border: 0; box-sizing: border-box;}

    
    ul.navmenu {
        background-color: lightcoral; height: 80px;
        display: flex;
        justify-content: center;
    }

    ul.navmenu li {
        background-color: grey; margin: 4px; 
        list-style-type: none;
     }

     ul.navmenu a {
        display: block; width: 100%; height: 100%;
        color: #fff; font-size: 2em; text-decoration: none;
        line-height: 70px;
        padding: 0px 12px;
     }

     ul.sharkpics {
        display: flex;
        justify-content: center;
     }

     .navmenuheader a:hover {
        background-color: aliceblue;
        color:black;
     }

     img {
      vertical-align:baseline;
     }

     *{
      box-sizing: border-box;
     }

     .column {
      float:left;
      width: 25%;
      padding: 3px;
     }

     .row::after {
      content:'';
      display:table;
      clear: both;
     }

     li {
      font-size: 15px;
      margin-left: 20px;
      list-style-type: circle;
   }

   @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
      }
    }

    table, td, th {
      border: 1px solid black; 
      }
  
  table {
  width: 97%;
  margin-left: 18px;
  border-collapse: collapse;
  }
    